html, body {
    text-align: center;
    margin: 0;          /* убрать внешний отступ */
    padding: 0;         /* убрать внутренний отступ */
    font-family: sans-serif;
    background-color: honeydew;
}

#content {
    max-width: 966px;   /* максимальная ширина */
    margin: 1em auto;     /* убрать внешний отступ сверху и снизу (0), а справа и слева вычислять автоматически (auto) */
    border-radius: 5px;
    padding: 0 1em 0 0;         /* убрать внутренний отступ */

    border-block-style: groove;
    background-color: white;

}

#left-sidebar {
    width: 20%;
    min-height: 150px;
    float: left;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    border-block: #009900;
    border-block-style: ridge;
}

#main-content {
    width: 78%;
    min-height: 150px;
    margin-left: 22%;
    text-align: justify;
    padding: 2px;
}

#nav {
    padding: 2em 0 0 0;
    background-color: #ccffcc; /* цвет фона */
    text-align: center; /* выравнивание содержимого по левому краю */
}

#nav_wrapper {
    max-width: 966px;   /* максимальная ширина */
    background-color: #99ff99; /* цвет фона */
    margin: 0 auto;     /* убрать внешний отступ сверху и снизу (0), а справа и слева вычислять автоматически (auto) */
    padding: 1em 1em 1em 0;         /* убрать внутренний отступ */
    border-radius: 5px;
 }

#nav a {
    padding: 10px 15px;
    color: #009900;
    text-transform: uppercase; /* текст ссылки - заглавными буквами */
}

#nav ul {
    margin: 0;          /* Обнуляем значение отступов */
    padding: 4px;       /* Значение полей */
}

#nav ul li {
    display: inline;    /* Отображать как строчный элемент */
    padding: 3px;       /* Поля вокруг текста */
}

#footer {
    margin-top: 30px;   /* внешний отступ сверху */
    background-color: #ccffcc; /* цвет фона */
    padding: 3em 0 5em;
    clear: left;
}

h1, h2 {
    font-weight: normal; /* обычный шрифт (не курсив и не полужирный) */
    text-align: center;
    color: #009900;     /* код цвета переднего плана (текст и проч.) */
}

p, li {
    text-align: left; font-size: .9em;
}

#page-views {
    padding: 1em;
    width: max-content;
    /* margin-left: auto; */
}

.book {
    padding: 1em;
}

.book-image {
    width: 50%;
    min-height: 150px;
    float: left;
}

.book-image .preview {
    width: 25%;
}

.book-info {
    width: 50%;
    min-height: 150px;
    margin-left: 50%;
    text-align: justify;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.book-image img {
    width: 300px;
    height: auto;
}

.book-image, .preview img {
    width: 150px;
    padding: 1em;
}

.tech_logo {
    width: auto;
    height: 55px;
    padding: 5px;
}
